@import "~bootstrap/scss/bootstrap";

html {
    height: 100%;
    box-sizing: border-box;
}

// Header
// .header-bg {
//     width: 100%;
//     background-image: url(/lets-eat-restaurant-app/src/images/headerImg.jpg);
//     padding: .5em; 
// }

li {
    list-style: none;
}

// Restaurant Cards
.restaurant-card {
    background-color: #fff;
}

.restaurant-title {
    font-size: 1.2em;
    margin: 0;
}

.card-title {
    font-size: 1.2em;
}