@import "~bootstrap/scss/bootstrap";

html {
    height: 100%;
    box-sizing: border-box;
}

// Header
// .header-bg {
//     width: 100%;
//     background-image: url(/lets-eat-restaurant-app/src/images/headerImg.jpg);
//     padding: .5em; 
// }

li {
    list-style: none;
}
